.list-container {
	overflow-x: hidden;
	overflow-y: scroll;

	.list {
		height: 100%;
	}
}

.list {
	display: flex;
	flex-direction: column;
	padding: 0.5em;
}

.list-header {
	font-weight: bold;
	border-bottom: 1.5px solid var(--fg-accent);
	position: sticky;
	top: 0em;
}

.list-item-container {
	text-decoration: none;
	color: inherit;
}

.list-item {
	display: grid;
	grid-template-columns: 1em 4fr 15em 5em repeat(3, 1em);
	align-items: center;
	gap: 1em;
	padding: 0.5em;
	overflow: hidden;
	text-wrap: nowrap;
}

.list-item:not(.list-header, :first-child) {
	border-top: 1px solid var(--fg-accent);
}

.list-item:not(.list-header):hover {
	background-color: var(--bg-alt);
	cursor: pointer;
}

p.list-empty {
	text-align: center;
	color: #888;
	margin-top: 1em;
	font-style: italic;
}

.list-item .action {
	visibility: hidden;
}

.list-item:hover .action {
	visibility: visible;
	cursor: pointer;
}
