/* Global styles */

:root {
	--icon-bg: #333;
	--icon-fg: #ccc;
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background: #222;
	color: #ccc;
	display: grid;
	grid-template-columns: max-content 1fr;
	inset: 0;
	position: fixed;
	margin: 0;
	padding: 0;
}

.icon {
	width: 1em;
	height: 1em;
	fill: var(--icon-fg);
	display: inline-block;
	vertical-align: middle;
}

.icon.before {
	margin-right: 0.5em;
}
