body:has(#cal-app) {
	top: 5em;
}

#cal-app {
	display: grid;
	grid-template-rows: 3em 1fr;
	grid-template-columns: 15em 1fr;
	inset: 0;
	position: absolute;

	h3,
	h4 {
		margin: 0;
	}
}

button.event-init {
	margin: 0.5em;
	background-color: var(--bg-alt);
	text-align: center;
	justify-content: center;
}

form {
	div:has(label ~ input),
	div:has(label ~ textarea),
	div:has(label ~ select) {
		display: flex;
		flex-direction: row;
		gap: 0.5em;
	}
}

div.event-times-container,
div.attendees-container {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}

div.event-times,
div.attendees {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	flex-grow: 1;
}

#event-init form {
	.event-time-options {
		display: flex;
		align-items: center;
		gap: 0.5em;

		.spacing,
		select {
			flex: auto;
		}

		label {
			flex: none;
		}
	}

	input,
	select,
	textarea {
		flex-grow: 1;
	}

	textarea {
		padding: 0.5em;
		font-size: 16px;
	}
}

.bar {
	display: flex;
	gap: 1em;
	align-items: center;
	font-weight: bold;

	@media (width < 700px) {
		margin: 0 1em;

		.label {
			flex-grow: 1;
		}
	}
}

:where(#cal-sidebar) {
	display: flex;
	flex-direction: column;
	gap: 1em;
	grid-column: 1;
	padding: 1em;

	.cal-sidebar-header,
	.cal-sidebar-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

#cal {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1em;
	border-radius: 1em;
	background-color: var(--bg-menu);

	.cal-content {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: space-around;
	}
}

#hours {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: right;
	justify-content: space-around;
	overflow-x: visible;
	margin-top: 5em;

	.hour {
		position: relative;
		padding-right: 1em;
	}

	.hour:not(.empty)::after {
		content: '';
		position: absolute;
		left: calc(100% - 0.5em);
		width: calc(100vw - 22em);
		border-bottom: var(--border-accent);
		top: 50%;
		z-index: 0;
		pointer-events: none;

		@media (width < 700px) {
			width: calc(100vw - 5em);
		}
	}
}

.day {
	width: 100%;
	height: 100%;
	border-left: var(--border-accent);
	display: flex;
	flex-direction: column;
}

.day-header {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	user-select: none;
	height: 5.9em;
	flex-shrink: 0;

	@media (width < 700px) {
		flex-direction: column;
	}
}

.day-number {
	border-radius: 0.3em;
	width: 2em;
	height: 2em;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&.today {
		border: var(--border-accent);
		color: var(--fg-accent);
	}
}

.day-content {
	flex-grow: 1;
	position: relative;

	.now {
		position: absolute;
		width: 100%;
		border-bottom: 1px solid hsl(0 33 var(--fg-light));
		z-index: 9;
		pointer-events: none;

		&::before {
			content: '';
			position: absolute;
			left: -0.25em;
			top: -0.25em;
			width: 0.5em;
			height: 0.5em;
			border-radius: 50%;
			background-color: hsl(0 33 var(--fg-light));
		}
	}
}

@media (width < 700px) {
	#cal-app {
		grid-template-columns: 1fr;
	}

	#cal-sidebar:focus-within {
		display: flex;
	}

	#cal-sidebar:focus-within + #cal {
		display: none;
	}

	#cal-sidebar.active {
		display: flex;
	}

	#cal-sidebar.active + #cal {
		display: none;
	}
}
