name: Release

on:
    release:
        types: [created]

jobs:
    ci:
        uses: ./.github/workflows/ci.yaml
        permissions:
            contents: write
            id-token: write
    release:
        runs-on: ubuntu-latest
        needs: ci
        permissions:
            id-token: write
            contents: write
        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Setup npm authentication
              uses: actions/setup-node@v6
              with:
                  node-version: latest
                  registry-url: https://registry.npmjs.org/

            - name: Install dependencies
              run: npm ci

            - name: Resolve package
              id: resolve
              run: |
                  PACKAGE="$(echo ${{ github.event.release.tag_name }} | sed 's/@.*$//')"
                  if [ ! -d "$PACKAGE" ]; then
                      echo "Package directory not found"
                      exit 1
                  fi
                  echo "path=$PACKAGE" >> $GITHUB_OUTPUT
                  echo "::debug::Resolved package to '$PACKAGE'"

            - name: Build (TypeScript)
              run: npx tsc -b

            - name: Build server (Vite)
              run: (cd server && npx vite build)

            - name: Export schemas
              run: (cd server && npm run build:schemas)

            - name: Publish
              run: npm publish --access=public --provenance
              working-directory: ${{ steps.resolve.outputs.path }}
